.Cards {
  display: flex;
  gap: 8px;
}
.parentContainer {
  width: 100%;
}
/* Media Queiry tablet view*/
@media screen and (max-width: 1200px) {
  .Cards {
    flex-direction: column;
  }
  .parentContainer {
    height: 9rem;
  }
}
/* Media Queiry  for the mobile view*/
@media screen and (max-width: 768px) {
  .Cards {
    width: 90%;
  }
}
